.card {
  animation: card-transition 200ms ease-in forwards;
  width: 250px;
  height: 75px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
  text-align: left;
  overflow: hidden;
  transition: var(--border-transition);
}

.poke-id {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  font-size: 0.6rem;
}

.poke-name.long {
  font-size: 0.8rem;
}

.poke-types {
  display: flex;
  font-size: 0.8rem;
  gap: 0.2rem;
}

.card-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;
}

.type {
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
}

.type.normal {
  background-color: #a8a878;
  color: white;
}
.type.fire {
  background-color: #f08030;
  color: white;
}
.type.water {
  background-color: #6890f0;
  color: white;
}
.type.grass {
  background-color: #78c850;
  color: white;
}
.type.electric {
  background-color: #f8d030;
  color: white;
}
.type.ice {
  background-color: #f8d030;
  color: white;
}
.type.fighting {
  background-color: #c03028;
  color: white;
}
.type.poison {
  background-color: #a040a0;
  color: white;
}
.type.ground {
  background-color: #e0c068;
  color: white;
}
.type.flying {
  background-color: #a890f0;
  color: white;
}
.type.psychic {
  background-color: #f85888;
  color: white;
}
.type.bug {
  background-color: #a8b821;
  color: white;
}
.type.rock {
  background-color: #b8a038;
  color: white;
}
.type.ghost {
  background-color: #705998;
  color: white;
}
.type.dark {
  background-color: #705849;
  color: white;
}
.type.dragon {
  background-color: #7038f8;
  color: white;
}
.type.steel {
  background-color: #7038f8;
  color: white;
}
.type.fairy {
  background-color: #f0b6bc;
  color: white;
}

.card.normal {
  border-color: #a8a878;
}
.card.fire {
  border-color: #f08030;
}
.card.water {
  border-color: #6890f0;
}
.card.grass {
  border-color: #78c850;
}
.card.electric {
  border-color: #f8d030;
}
.card.ice {
  border-color: #f8d030;
}
.card.fighting {
  border-color: #c03028;
}
.card.poison {
  border-color: #a040a0;
}
.card.ground {
  border-color: #e0c068;
}
.card.flying {
  border-color: #a890f0;
}
.card.psychic {
  border-color: #f85888;
}
.card.bug {
  border-color: #a8b821;
}
.card.rock {
  border-color: #b8a038;
}
.card.ghost {
  border-color: #705998;
}
.card.dark {
  border-color: #705849;
}
.card.dragon {
  border-color: #7038f8;
}
.card.steel {
  border-color: #7038f8;
}
.card.fairy {
  border-color: #f0b6bc;
}

.card-right {
  width: 50%;
}

.card-right img {
  height: 80px;
  width: 80px;
  transition: var(--border-transition);
}

.card:hover {
  background-color: #3f4652;
  color: white;
  transition: var(--border-transition);
}

.card:hover .card-right img {
  height: 85px;
  width: 85px;
  transition: var(--border-transition);
}

@media screen and (max-width: 928px) {
  .card {
    width: 200px
  }
}
@media screen and (max-width: 760px) {
  .card {
    width: 250px;
  }
}
@media screen and (max-width: 630px) {
  .card {
    width: 200px;
  }
}
@media screen and (max-width: 520px) {
  .card {
    width: 300px;
  }
}
@media screen and (max-width: 375px) {
  .card {
    width: 250px;
  }
}
@media screen and (max-width: 318px) {
  .card {
    width: 225px;
  }
}

@keyframes card-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}