*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

html, body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

button {
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.container {
  height: 100vh;
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.main-top {
  background-color: red;
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pokemon-wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.cards-wrapper {
  width: 100%;
  display: flex;
  background-color: purple;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  overflow-y: scroll;
}

.main-bottom {
  background-color: green;
  height: 25%;
  width: 100%;
}